<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/TrialAppleApp/InjectiPA/refs/heads/master/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>oTiGLXNfDHyP1UUuuupAmtn+9WpCF0nYoQdXOMzVVJY=</string>
</dict>
</plist>
